* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.form-label,
.box > div > h1 {
    margin-bottom: 0.2rem;
}
